/*Se hará el css con ayuda de bootstrap*/
/*Se agrega la liga de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*Se crean los bloques de cada página con ayuda de Grid para lograr hacerlo responsivo*/
main {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    background-color: #000000;
    padding: 20%;
    width: auto;
}
/*diseño del titulo*/
.head {
    color: #FB6107;
    text-align: center;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
}
/*diseño para inputs pantalla1*/
#usuario,
#password {
    margin: 15px;
    padding: 12px;
    border-radius: 12px;
    color: #C99DA3;
}
/*diseño para inputs pantalla 2*/
#searchInput,
#searchButton {
    margin: 15px;
    padding: 12px;
    border-radius: 12px;
    color: #FB6107;
}
/*diseño para titulo de pelicula*/
.movie-title{
    color: #F4D35E;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
/*diseño de información*/
p{
    color: #F4D35E;
    text-align: justify;
    font-family: 'Permanent Marker', cursive;;
}
/*haciendo responsiva la imagen*/
.responsive-img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 15px;
}
/*footer*/
#footer{
    text-align: center;
    color: #FB6107;
    font-family: 'Permanent Marker', cursive;
}